<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/detailPostStyle.css">
    <title>Post in Detail</title>
</head>
<body>
    <h2>Here is your post in detail</h2>
    <p class="post-id">Post ID: <%= user.id %></p>
    <div class="post-detail">
        <h3 class="user">@<%= user.username %></h3>
        <h4 class="post-content"><%= user.post %></h4>
    </div>
</body>
</html>